<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - Trip Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('add_location') }}">Add Location</a></li>
        <li><a href="{{ url_for('create_plan') }}">Create Plan</a></li>
      </ul>
    </nav>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>