<!doctype html>
<html>
<head>
    <title>関東地方の人気エリア投票</title>
</head>
<body>
    <h1>関東地方の人気エリア投票</h1>
    <form action="/vote" method="post">
        <ul>
            <li><label><input type="checkbox" name="東京都" value="1">東京都</label></li>
            <li><label><input type="checkbox" name="神奈川県" value="1">神奈川県</label></li>
            <li><label><input type="checkbox" name="埼玉県" value="1">埼玉県</label></li>
            <li><label><input type="checkbox" name="千葉県" value="1">千葉県</label></li>
            <li><label><input type="checkbox" name="茨城県" value="1">茨城県</label></li>
            <li><label><input type="checkbox" name="栃木県" value="1">栃木県</label></li>
            <li><label><input type="checkbox" name="群馬県" value="1">群馬県</label></li>
        </ul>
        <input type="submit" value="投票する">
    </form>
</body>
</html>
